
<div id="container">
  <h1> Welcome! </h1>
  <p> A while back I was trying to plan a bicycle tour to visit national parks. 
      I searched and searched for a simple map with all of the national parks 
      labeled, but I never found anything useful. My planned trip no longer involves 
      visiting all of the national parks, but I still thought this might be useful 
      to someone. Also, it's a good excuse to learn more about the google maps 
      API and javascript.</p>
  <div id="add_park">
    <input id="addParkButton" type="button" value="Add a Park?"/>
  </div>
  <script type="text/javascript">
    var parks = <%= @parks.to_json %>;
  </script>

  <div>
    <input type="text" id="queryInput" value="Yosemite" style="width: 250px;"/>
    <input id="dosearch" type="button" value="Find"/>
  </div>

  <div id="map_canvas"></div>
  <div id="searchwell"></div>

</div>
