
<div id="container">
  <h1> Welcome! I hope this app can service all you park needs </h1>
  <p> Basically,  </p>
  <div>
    <input type="text" id="queryInput" value="pizza" style="width: 250px;"/>
    <input id="dosearch" type="button" value="Find"/>
  </div>

  <div id="map_canvas"></div>
  <div id="searchwell"></div>

</div>
